{% extends "@App/Admin/layout.html.twig" %}
{% block content %}
    <h2>{{ 'labels.transactions'|trans }}</h2>

    <table class="table  table-striped">
        <thead>
            <tr>
                <th>{{ 'labels.id'|trans }}</th>
                <th>{{ 'labels.title'|trans }}</th>
                <th>{{ 'labels.vendor_id'|trans }}</th>
                <th>{{ 'labels.status'|trans }}</th>
                <th>{{ 'labels.user'|trans }}</th>
                <th class="text-center" width="125">{{ 'labels.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.id }}</td>
                    <td>${{ transaction.amount }}</td>
                    <td>${{ transaction.vendorId }}</td>
                    <td>{{ transaction.statusName|trans }}</td>
                    <td>
                        <a href="{{ path('admin_user_edit', {'user' : transaction.user.id }) }}">{{ transaction.user.email }}</a>
                    </td>
                    <td class="text-center">
                        {% if transaction.status == 1 %}
                            <a class="btn btn-danger btn-sm confirm" href="{{ path('admin_transaction_refund', {'transaction': transaction.id}) }}">
                                {{ 'verb.refund'|trans }}
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="col-md-12 media-middle"><p><strong>{{ 'labels.total_results'| trans }}:</strong> {{ total }}</p></div>
    <div class="col-md-12 text-center pagination">{{ knp_pagination_render(transactions) }}</div>
    <div class="clearfix"></div>
{% endblock %}