{% extends "@App/Admin/layout.html.twig" %}
{% block content %}
    <h2>{{ 'labels.orders'|trans }}</h2>

    <table class="table  table-striped">
        <thead>
            <tr>
                <th>{{ 'labels.id'|trans }}</th>
                <th>{{ 'labels.user'|trans }}</th>
                <th>{{ 'labels.transactions'|trans }}</th>
                <th>{{ 'labels.amount'|trans }}</th>
                <th>{{ 'labels.order_items'|trans }}</th>
                <th class="text-center" width="125">{{ 'labels.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>
                        <a href="{{ path('admin_user_edit', {'user' : order.user.id }) }}">{{ order.user.email }}</a>
                    </td>
                    <td>{{ order.transaction.vendorId }}</td>
                    <td>${{ order.transaction.amount }}</td>
                    <td>{{ order.countTotalItems }}</td>
                    <td class="text-center">
                        <a class="btn btn-info btn-sm" href="{{ path('admin_order_view', {'order': order.id}) }}">
                            {{ 'verb.view'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="col-md-12 media-middle"><p><strong>{{ 'labels.total_results'| trans }}:</strong> {{ total }}</p></div>
    <div class="col-md-12 text-center pagination">{{ knp_pagination_render(orders) }}</div>
    <div class="clearfix"></div>
{% endblock %}