{% extends "@App/Admin/layout.html.twig" %}
{% block content %}
    <h2>{{ 'labels.orders'|trans }}</h2>

    <table class="table  table-striped">
        <tr>
            <td class="view-label">{{ 'labels.user'|trans }}</td>
            <td>
                <a href="{{ path('admin_user_edit', {'user' : order.user.id}) }}">
                    {{ order.user.email }}
                </a>
            </td>
        </tr>
        <tr>
            <td class="view-label">{{ 'labels.transaction'|trans }}</td>
            <td>{{ order.transaction.vendorId }}</td>
        </tr>
        <tr>
            <td class="view-label">{{ 'labels.amount'|trans }}</td>
            <td>${{ order.transaction.amount }}</td>
        </tr>
        <tr>
            <td class="view-label">{{ 'labels.first_name'|trans }}</td>
            <td>{{ order.firstName }}</td>
        </tr>
        <tr>
            <td class="view-label">{{ 'labels.last_name'|trans }}</td>
            <td>{{ order.lastName }}</td>
        </tr>
        <tr>
            <td class="view-label">{{ 'labels.city'|trans }}</td>
            <td>{{ order.city }}</td>
        </tr>
        <tr>
            <td class="view-label">{{ 'labels.address'|trans }}</td>
            <td>{{ order.address }}</td>
        </tr>
        <tr>
            <td class="view-label">{{ 'labels.order_items'|trans }}</td>
            <td>
                <table class="table">
                    <thead>
                        <tr>
                            <th width="75">{{ 'labels.id'|trans }}</th>
                            <th width="75">{{ 'labels.quantity'|trans }}</th>
                            <th><span class="m-l-15">{{ 'labels.product'|trans }}</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for orderItem in order.orderItems %}
                            <tr>
                                <td>{{ orderItem.id }}</td>
                                <td class="text-center">{{ orderItem.quantity }}</td>
                                <td>
                                    {% if orderItem.product.imageName %}
                                        <img class="b-r-5 m-l-15" src="{{ vich_uploader_asset(orderItem.product, 'imageFile') | imagine_filter('product_order_view') }}" />
                                    {% endif %}
                                    <a class="m-l-15" href="{{ path('admin_product_edit', {'product' : orderItem.product.id}) }}">
                                        {{ orderItem.product.title }}
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </td>
        </tr>
    </table>
{% endblock %}