<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('libs/bootstrap/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/admin_style.css') }}" />
</head>
<body>

<div class="top-menu">
    {{ knp_menu_render('AppBundle:Builder:adminMenu') }}
</div>

<div class="content">
    {% if app.session.flashbag.keys is not empty %}
        {% for type, flashMessages in app.session.flashbag.all() %}
            {% for flashMessage in flashMessages %}
                <div class="alert alert-{{ type }} alert-top" role="alert">
                    <button type="button" class="close" data-dismiss="alert" data-target=".alert">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    {{ flashMessage|trans }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}

    {% block content %}{% endblock %}
</div>

<script type="text/javascript" src="{{ asset('libs/jquery.min.3.2.1.js') }}"></script>
<script type="text/javascript" src="{{ asset('libs/bootstrap/js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/script.js') }}"></script>
{% block javascipt %}{% endblock %}
</body>
</html>