body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.content {
    min-height: 450px;
    width: 1024px;
    background-color: #fefefe;
    margin: 35px auto;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 0 2px 0 rgba(77,73,77,0.2);
}

h2 {
    padding: 0;
    margin: 10px 0 20px 0;
    float: left;
}

.add-new {
    float: right;
    margin: 5px 10px 0 0;
}

.pagination {
    font-weight: bold;
}

.m-t-10 { margin-top: 10px; }
.m-t-15 { margin-top: 15px; }
.m-t-20 { margin-top: 20px; }
.m-l-15 { margin-left: 15px; }
.b-r-5 {border-radius: 5px; }

.product-image {
    max-width: 800px;
}

.top-menu {
    width: 1024px;
    margin: auto;
}

.top-menu ul {
    padding: 0;
    margin: 0;
}

.top-menu ul li {
    list-style: none;
    display: inline-block;
    margin: 15px 0 0 0;
    padding: 0 10px 0 10px;
    font-size: 14px;
    border-right: 1px solid #337ab7;
}

.top-menu ul li:nth-last-child(2) {
    border-right: none;
}
.top-menu ul li.last {
    float: right;
    border-right: none;
}
.view-label {
    max-width: 50px;
    font-weight: bold;
}
