body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.content {
    min-height: 450px;
    width: 1024px;
    background-color: #fefefe;
    margin: 35px auto;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 0 2px 0 rgba(77,73,77,0.2);
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 150px;
    height: 150px;
    animation: spin 2s linear infinite;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 275px;
    display: none;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.m-b-15 { margin-bottom: 15px; }

.top-menu {
    width: 1024px;
    margin: auto;
}

.top-menu ul {
    padding: 0;
    margin: 0;
}

.top-menu ul li {
    list-style: none;
    display: inline-block;
    margin: 15px 0 0 0;
    padding: 0 10px 0 10px;
    font-size: 14px;
    border-right: 1px solid #337ab7;
}
.top-menu ul li.last {
    border-right: none;
}

.top-cart {
    position: fixed;
    margin: -35px 0 0 922px;
}
.top-cart .info {
    height: 45px;
    width: 100px;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    padding: 5px 0 0 10px;
    box-shadow:  0 0 5px 0 rgba(75,112,204,0.25);
    cursor: pointer;
}
.top-cart .info:hover {
    box-shadow:  0 0 5px 0 rgba(75,112,204,0.8);
}

.top-cart .info span {
    font-size: 12px;
    font-weight: bold;
}
.top-cart .info .amount {
    font-size: 11px;
    color: #7a7a7a;
}
.cart-items {
    width: 280px;
    min-height: 40px;
    background-color: #fefefe;
    border-radius: 10px;
    margin: 5px 0 0 -179px;
    padding: 10px;
    box-shadow:  0 0 5px 0 rgba(75,112,204,0.25);
    display: none;
    font-size: 13px;
    z-index: 5525454545454;
}
.cart-items .cart-item {
    margin: 0 0 10px 0;
}
.cart-items .cart-item:last-child {
    margin: 0 0 0 0;
}
.cart-items .cart-item img {
    margin: 0 3px 0 0;
}
.cart-items .cart-item .quantity {
    font-weight: bold;
    color: #7c7c7c;
    margin: 0 3px 0 0;
}
.cart-item .remove {
    font-size: 24px;
    float: right;
    margin: 0 0 0 0;
    cursor: pointer;
}

.view-label {
    max-width: 50px;
    font-weight: bold;
}

.product-item {
    float: left;
    margin: 0 84px 85px 0;
    width: 275px;
}

.product-item.third {
    margin: 0 0 85px 0;
}

.product-item img:hover {
    box-shadow:  0 0 5px 0 rgba(75,112,204,1);
}

.product-item .title {
    margin-top: 10px;
    display: block;
}

.product-item .price {
    font-weight: bold;
    color: #47290e;
    margin-top: 5px;
    display: block;
}

.product-item .add-to-card {
    float: right;
    margin-top: -21px;
}

.product-view img {
    float: left;
    max-width: 500px;
    margin: 0 15px 0 0;
}

.product-view .add-to-card {
    margin: 0 0 22px 0;
}

.product-view .price {
    font-weight: bold;
    color: #47290e;
}

.cart-list h3 {
    margin: 10px 0 15px 0;
    border-bottom: 1px solid #000;
    padding: 0 0 5px 0;
}

.cart-list .item {
    margin: 0 0 20px 0;
}

.cart-list .item img {
    float: left;
    margin: 0 15px 0 0;
    box-shadow:  0 0 5px 0 rgba(75,112,204, 0.25);
}

.cart-list .item .title {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 5px 0;
}

.cart-list .item .price {
    font-weight: bold;
    color: #47290e;
    margin: 0 0 5px 0;
}

.cart-list .item .remove {
    width: 24px;
    display: block;
    font-size: 24px;
    float: right;
    line-height: 0;
    cursor: pointer;
}

.cart-list .total {
    float: right;
    margin: -55px 0 0 0;
}