{% extends "@App/Admin/layout.html.twig" %}
{% block content %}
    <h2>{{ 'labels.users'|trans }}</h2>
    <div class="text-right add-new">
        <a class="btn btn-info" href="{{ path('admin_user_create') }}">+{{ 'verb.add_new'|trans }}</a>
    </div>

    <table class="table  table-striped">
        <thead>
            <tr>
                <th>{{ 'labels.id'|trans }}</th>
                <th>{{ 'labels.username'|trans }}</th>
                <th>{{ 'labels.email'|trans }}</th>
                <th>{{ 'labels.is_enabled'|trans }}</th>
                <th class="text-center" width="125">{{ 'labels.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.enabled ? 'Yes' : 'No' }}</td>
                    <td>
                        {% if not user.hasRole('ROLE_ADMIN') %}
                            <a class="btn btn-warning btn-sm" href="{{ path('admin_user_edit', {'user': user.id}) }}">{{ 'verb.edit'|trans }}</a>
                            <a class="btn btn-danger btn-sm confirm" href="{{ path('admin_user_delete', {'user': user.id}) }}">{{ 'verb.delete'|trans }}</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="col-md-12 media-middle"><p><strong>{{ 'labels.total_results'| trans }}:</strong> {{ total }}</p></div>
    <div class="col-md-12 text-center pagination">{{ knp_pagination_render(users) }}</div>
    <div class="clearfix"></div>
{% endblock %}