{% extends "@App/Admin/layout.html.twig" %}
{% block content %}
    <h2>{{ 'labels.products'|trans }}</h2>
    <div class="text-right add-new">
        <a class="btn btn-info" href="{{ path('admin_product_create') }}">+{{ 'verb.add_new'|trans }}</a>
    </div>

    <table class="table  table-striped">
        <thead>
            <tr>
                <th>{{ 'labels.id'|trans }}</th>
                <th>{{ 'labels.image'|trans }}</th>
                <th>{{ 'labels.title'|trans }}</th>
                <th>{{ 'labels.price'|trans }}</th>
                <th class="text-center" width="125">{{ 'labels.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>
                        {% if product.imageName %}
                            <img src="{{ vich_uploader_asset(product, 'imageFile') | imagine_filter('product_cart_thumb') }}" />
                        {% endif %}
                    </td>
                    <td>{{ product.title }}</td>
                    <td>${{ product.price }}</td>
                    <td>
                        <a class="btn btn-warning btn-sm" href="{{ path('admin_product_edit', {'product': product.id}) }}">{{ 'verb.edit'|trans }}</a>
                        <a class="btn btn-danger btn-sm confirm" href="{{ path('admin_product_delete', {'product': product.id}) }}">{{ 'verb.delete'|trans }}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="col-md-12 media-middle"><p><strong>{{ 'labels.total_results'| trans }}:</strong> {{ total }}</p></div>
    <div class="col-md-12 text-center pagination">{{ knp_pagination_render(products) }}</div>
    <div class="clearfix"></div>
{% endblock %}