{% extends "@App/Admin/layout.html.twig" %}
{% form_theme form '@App/form.html.twig' %}

{% block content %}
    <h2>{{ 'product.edit'|trans }}</h2>
    <div class="clearfix"></div>

    <div class="m-t-15">
        {{ form_start(form) }}
            {% for field in form %}
                {{ form_row(field) }}
            {% endfor %}
            {% if not isNew and product.imageName %}
                <img class="product-image" src="{{ vich_uploader_asset(product, 'imageFile') }}" />
            {% endif %}

            <div class="clearfix"></div>
            <div class="buttons m-t-20">
                <button class="btn btn-warning" type="submit">{{ 'verb.save'|trans }}</button>
                <a class="btn btn-info" href="{{ path('admin_product_index') }}" type="submit">{{ 'verb.back_to_list'|trans }}</a>
                {% if not isNew %}
                    <a class="btn btn-danger confirm" href="{{ path('admin_product_delete', {'product': product.id}) }}">{{ 'verb.delete'|trans }}</a>
                {% endif %}
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}