{% extends '@App/layout.html.twig' %}

{% form_theme form "@App/form.html.twig" %}

{% block content %}
    {{ form_start(form) }}
        <div class="m-b-15">
            <h4>{{ 'labels.order_information'|trans }}</h4>
            <p><strong>{{ 'labels.total_amount'|trans }}:</strong> ${{ totalAmount }}</p>
            <p><strong>{{ 'labels.total_items'|trans }}:</strong> {{ totalItems }}</p>
        </div>

        <div class="m-b-15">
            <h4>{{ 'labels.personal_information'|trans }}</h4>
            <div class="col-md-6">{{ form_row(form.firstName) }}</div>
            <div class="col-md-6">{{ form_row(form.lastName) }}</div>
            <div class="col-md-6">{{ form_row(form.city) }}</div>
            <div class="col-md-6">{{ form_row(form.address) }}</div>
            <div class="col-md-6">{{ form_row(form.address) }}</div>
            <div class="clearfix"></div>
        </div>

        <div class="m-b-15">
            <h4>{{ 'labels.credit_card_info'|trans }}</h4>

            {% if form.use_old_credit_card is defined %}
                <div class="col-md-7 use-old-card">{{ form_row(form.use_old_credit_card) }}</div>
            {% endif %}

            <div class="credit-card">
                <div class="col-md-6">{{ form_row(form.card_number) }}</div>
                <div class="col-md-6">{{ form_row(form.card_cvv) }}</div>
                <div class="col-md-6">{{ form_row(form.card_month) }}</div>
                <div class="col-md-6">{{ form_row(form.card_year) }}</div>
                {% if form.card_save is defined %}
                    <div class="col-md-2">{{ form_row(form.card_save) }}</div>
                {% endif %}
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
        <button class="btn btn-info" type="submit">{{ 'verb.send'|trans }}</button>
    {{ form_end(form) }}
    <div class="clearfix"></div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{{ asset('js/pages/checkout.js') }}"></script>
{% endblock %}
