{% extends '@App/layout.html.twig' %}

{% block content %}
    <div class="cart-list">
        <h3>{{ 'labels.cart'|trans }}</h3>
        <div class="total"><strong>{{ 'labels.total'|trans }}:</strong> ${{ total }} ({{ totalItems }})</div>
        {% if cartItems|length > 0 %}
            <a class="btn btn-info m-b-15" href="{{ path('cart_checkout') }}">{{ 'verb.checkout'|trans }}</a>
        {% endif %}
        {% for cartItem in cartItems %}
            <div class="item" data-cart-item-id="{{ cartItem.id }}">
                <a href="{{ path('default_product_view', {'product' : cartItem.product.id}) }}">
                    <img class="img-rounded" src="{{ vich_uploader_asset(cartItem.product, 'imageFile') | imagine_filter('product_cart_page') }}" />
                </a>
                <div class="remove text-danger">&times;</div>
                <div class="title"><a href="{{ path('default_product_view', {'product' : cartItem.product.id}) }}">{{ cartItem.product.title }}</a></div>
                <div class="price">{{ cartItem.product.price }} x {{ cartItem.quantity }}</div>
                <div class="description">{{ cartItem.product.description }}</div>
                <div class="clearfix"></div>
            </div>
        {% endfor %}
    </div>
    <div class="text-right"><p><strong>{{ 'labels.total'| trans }}:</strong> {{ total }}</p></div>
    <div class="clearfix"></div>
{% endblock %}
