{% extends '@App/layout.html.twig' %}

{% block content %}
    {% for product in products %}
        <div class="product-item{{ loop.index % 3 == 0 ? ' third' : '' }}">
            {% if product.imageName %}
                <a href="{{ path('default_product_view', {'product' : product.id}) }}">
                    <img class="img-rounded" src="{{ vich_uploader_asset(product, 'imageFile') | imagine_filter('product_frontend_index') }}" />
                </a>
                <div>
                    <a class="title" href="{{ path('default_product_view', {'product' : product.id}) }}">{{ product.title }}</a>
                    <span class="price">${{ product.price }}</span>
                    <a class="btn btn-info btn-xs add-to-card" href="#" data-product-id="{{ product.id }}">{{ 'labels.add_to_card'|trans }}</a>
                </div>
            {% endif %}
        </div>
    {% endfor %}
    <div class="clearfix"></div>
    <div class="col-md-12 media-middle"><p><strong>{{ 'labels.total_results'| trans }}:</strong> {{ total }}</p></div>
    <div class="col-md-12 text-center">{{ knp_pagination_render(products) }}</div>
    <div class="clearfix"></div>
{% endblock %}
