{% extends '@App/layout.html.twig' %}

{% block content %}
    <div class="product-view">
        <h2>{{ product.title }}</h2>
        <img class="img-rounded" style="max-width: 500px;" src="{{ vich_uploader_asset(product, 'imageFile') }}" />
        <a class="add-to-card btn btn-info btn-lg" href="#" data-product-id="{{ product.id }}">{{ 'labels.add_to_card'|trans }}</a>
        <p class="price">${{ product.price }}</p>
        <p>{{ product.description }}</p>
    </div>
    <div class="clearfix"></div>
{% endblock %}
